* {
    margin: 0;
    padding: 0;
}

.pop {
    animation-name: pop;
    animation-duration: 500ms;
    animation-timing-function: ease;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.fade-in {
    animation: fadeIn ease 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

ul {
    list-style-type: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-ctn {
    height: 40%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#title {
    font-family: inherit;
    font-size: xxx-large;
    color: rgb(32, 117, 69);
    text-align: center;
}

.title-sub {
    font-family: inherit;
    color: seagreen;
    text-align: center;
    font-size: medium;
}

#main-ctn {
    height: auto;
    width: 50%;
    background-color: rgb(198, 198, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(129, 129, 168);
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
}

#prompt-ctn {
    background-color: white;
    border-radius: 8px;
    height: 40%;
    width: 80%;
    box-shadow: 5px 5px 10px rgb(129, 129, 168);
    animation-name: prompt;
    animation-duration: 500ms;
    animation-timing-function: ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.prompt-txt {
    font-family: inherit;
    font-size: large;
    color: rgb(91, 91, 121);
}

.about-txt {
    font-family: inherit;
    font-size: large;
    color: rgb(56, 56, 56);
    font-size: medium;
    line-height: 25px;
}

.mini-icon {
    transform: scale(.5);
    margin: -20px;
}

@keyframes prompt {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#collection-ctn {
    background-color: white;
    border-radius: 8px;
    height: auto;
    width: 80%;
    box-shadow: inset 0 0 10px rgb(129, 129, 168);
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 10px;
    padding: 20px;
}

.btn {
    background-color: #eee;
    font-size: large;
    font-family: inherit;
    padding: 2px 15px;
    border: none;
    box-shadow: 3px 3px 8px rgb(129, 129, 168);
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px 0 5px;
}

.btn:hover {
    animation-name: btn-scale;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes btn-scale {
    100% {
        transform: scale(1.1);
    }
}

#btn-ctn {
    width: 80%;
    height: auto;
    padding: 20px;
    display: inline-flex;
    justify-content: flex-end;
}

.btn-green {
    font-size: large;
    font-family: inherit;
    padding: 2px 15px;
    border: none;
    color: white;
    background-color: seagreen;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px 0 5px;
}

.btn-green:hover {
    animation-name: btn-scale;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

.btn-red {
    font-size: large;
    font-family: inherit;
    padding: 2px 15px;
    border: none;
    color: white;
    background-color: tomato;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px 0 5px;
}

.btn-red:hover {
    animation-name: btn-scale;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

#menu-ctn {
    background-color: rgb(129, 129, 168);
    border-radius: 8px;
    height: 50%;
    width: 70%;
    box-shadow: inset 0 0 10px rgb(91, 91, 129);
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 3%;
}

.menu-btn {
    background-color: #eee;
    font-size: xx-large;
    font-family: inherit;
    padding: 5px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.menu-btn:hover {
    animation-name: btn-scale;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#emoji {
    font-size: 100px;
    color: rgb(129, 129, 168);
    font-family: inhert;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    animation-name: emoji;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-play-state: infinite;
    animation-iteration-count: infinite;
}

@keyframes emoji {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

#form-ctn {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 10px;
}

input {
    width: 50px;
    cursor: pointer;
    font-size: large;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

label {
    color: white;
    font-family: inherit;
    font-size: x-large;
    padding: 0 10px;
}

select {
    border: none;
    padding: 5px 10px;
    font-size: large;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.input-inline {
    display: flex;
    padding: 10px 0;
}

p a {
    color: tomato;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    #main-ctn {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #title-ctn {
        width: 90%;
        height: 20%;
        margin-bottom: 10px;
    }

    #title {
        font-size: xx-large;
    }
    
    #prompt-ctn {
        height: 50%;
        width: 80%;
    }

    .about-txt {
        font-size: x-small;
    }

    #btn-ctn {
        margin-top: 20px;
        width: 85%;
        display: flex;
    }

    .prompt-txt {
        font-size: x-small;
    }

    #emoji {
        font-size: 50px;
    }

    #menu-ctn {
        height: 30%;
        width: 90%;
        margin-top: 40px;
    }

    #collection-item {
        height: 50px;
        width: 50px;
    }

    #collection-ctn {
        grid-template-columns: repeat(auto-fill, 50px);
        grid-gap: 2px;
        height: auto;
        width: 80%;
    }

    label {
        margin-right: 10px;
        padding: 0;
    }

    .about-txt {
        font-size: 13px;
        line-height: 15px;
    }

    .mini-icon {
        transform: scale(.5);
        margin: -20px;
        margin-top: -50px;
    }
}

@media (max-width: 1024px) {
    #collection-item {
        height: 70px;
        width: 70px;
    }
    #collection-ctn {
        grid-template-columns: repeat(auto-fill, 70px);
    }
    #main-ctn {
        width: 70%;
    }
}